<!DOCTYPE html>
<html>
  <head>
    <title>Downloads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet" />

    <link href="/dist/bundle.css" rel="stylesheet" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6-widescreen is-9-tablet">
              <h1 class="title">Downloads</h1>
              <h2 class="subtitle">Data collected during the trials</h2>

              <hr/>

              <article class="panel is-info">
                <p class="panel-heading">
                  Available Files
                </p>

                <% if (files.length == 0) { %>
                  <div class="panel-block">
                    <p>
                      No files available
                    </p>
                  </div>
                <% } %>

                <% files.forEach((file) => { %>
                  <div class="panel-block">
                    <span class="panel-icon">
                      <i class="fas fa-file" aria-hidden="true"></i>
                    </span>
                    <p>
                      <a href="/download/<%= file %>"><%= file %></a>
                    </p>
                    <form style="margin-left: auto;" method="POST" action="/download/<%= file %>/delete">
                      <button class="delete"></button>
                    </form>
                  </div>
                <% }) %>
              </article>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
