body, h1, div {
  font-family: arial;
}

body {
  padding: 20px;
}

.is-bold {
  font-weight: bold;
}

.sidebar-elements .segment {
  border-bottom: 1px solid #D2D2D2;
  padding: 1rem 0;
}

.sidebar-elements .segment li {
  padding: 0 0 5px 0;
}

.segment:first-child {
  padding-top: 0;
}

.segment:last-child {
  padding-bottom: 0;
  border: none;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(90deg, #6290e0 0%, #a8a8a8 51% ,#bc3d27 100%);
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  box-shadow: 1px 1px 1px #555555, 0px 0px 1px #0d0d0d;
  border: 1px solid #555555;
  height: 20px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
